@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
  box-sizing: border-box;
  
}
body{
    background-color: #8c52ff;
    color: #ffde59;
    font-family: 'Fredoka One', cursive, sans-serif;
    min-height: 100vh;
    padding: 5px;
    margin: 10;
    padding: 10;
}



#startGame:hover{
    color: rgb(255, 255, 255);
   
}
.startTitles{
    justify-content: center;
    align-items: center;
    animation-name: intro;
    animation-duration: 7s;
}
    
#game{
  display:flex;
  flex-direction:row;
}

@keyframes intro {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }
  #dollarProgress {
    width: 100%;
    background-color: grey;
  }
  
  #dollarBar {
    width: 1%;
    height: 30px;
    background-color: #ffde59;
  }
 
  #stats{
    padding:1em;
    border-radius:5px;
    width: 50%;
    padding:1em;
    min-height: 100vh;
    align-items: left
    ;
    display:flex; 
    flex-direction: column;
   
  }
  .doge{
    padding:1em;
    border-radius:5px;
    width: 50%;
    padding:1em;
    min-height: 100vh;
    align-items: center;
    display:flex; 
    flex-direction: column;
    background-color: #3b3737;
  }


  button{
    display: inline-block;
    padding: 7px 20px;
    margin: 3px;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    transition: .2s;
  }
  button:hover{
    background-color: #ffde59;
    border:solid #8c52ff;
    color:#8c52ff;
  }
  button:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*Move down*/
  }
  
  .overStyle{
    color: rgb(255, 136, 0);
  }
  h1{
    font-size: 30px;
  }
  h3{
    font: 25px;
  }
  li{
    font-size: 20px;
  }

  .pb1, .pb2, .pb3, .pb4, .pb5{
    width:150px;
    height: 20px;
    
  }
 
  .pf1{
    height:100%;
    background:#59ea63;
    transition:width 0.2s;
    width:50%;
  }
  .pf2{
    height:100%;
    background:#53ebff;
    transition:width 0.2s;
    width:50%;
  }
  .pf3{
    height:100%;
    background:#ff5370;
    transition:width 0.2s;
    width:50%;
  }
  .pf4{
    height:100%;
    background:#f8f8f8;
    transition:width 0.2s;
    width:50%;
  }
  .pf5{
    height:100%;
    background:#fff700;
    transition:width 0.1s;
    width:50%;
  }
  /* .buttonrow{
    display: flex;
    justify-content: space-evenly;
  } */
